html {
    display: block;
    margin: 0;
}

head {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: clip;
}

.pais {
    background-image: url("pildid/Hills@2x.png");
    height: 778px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 32px;
    padding-left: 72px;
    padding-right: 80px;
}

.pais>nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    text-decoration: none;
    color: #0B0B0B;
    display: flex;
    width: 66.72px;
}

.logo-pilt {
    height: 64px;
}

.logo-tekst {
    font-weight: 800;
    font-size: 33px;
    text-align: left;
    line-height: 35px;
    flex-direction: column;
}

.parem-pool {
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.67px;
    display: flex;
    align-items: center;
}

.parem-pool>a {
    text-decoration: none;
    color: #0B0B0B;
    margin-left: 20px;
}

.pais>.alumine {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.pais>.alumine>.sisu {
    margin-top: 230px;
    display: flex;
    flex-direction: column;

}

.pais>.alumine>.pilt {
    background-image: url("pildid/Image@2x.png");
    width: 914px;
    height: 914px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    border-radius: 470px;
    margin-right: -300px;
}

.pais>.alumine>.pildi-vari {
    margin-left: 200px;
}


.liblikas1 {
    background-repeat: no-repeat;
    height: 32px;
    width: 60px;
    text-align: left;
    margin-top: 483px;
    margin-left: 31px;
    position: absolute;
}

h1,
h2,
h3 {
    letter-spacing: 0;
    font-weight: 800;
}

h1,
h2 {
    line-height: 42.74px;
}

h3 {
    line-height: 29px;
}

body {
    background-image: url("pildid/component.png") 0% 0% no-repeat padding-box;
}

.pais>.alumine>.sisu>h1 {
    font-size: 74px;
}

.pais>.alumine>.sisu>h2 {
    font-size: 40px;
}

.pais>.alumine>.sisu>h3 {
    font-size: 21px;
}

.pais>.alumine>.sisu>.button {
    background-color: black;
    padding: 22px;
    text-decoration: none;
    display: flex;
    font-size: 12.5px;
    cursor: pointer;
    text-align: left;
    letter-spacing: 2.25px;
    color: #FFFFFF;
    opacity: 1;
    width: fit-content;
    font-size: 12.5px;
    font-weight: bold;
}

.pais>.alumine>.sisu> {
    width: 60px;
    height: 32px;
    text-align: left;
    margin: 0%;
    position: absolute;
}

.pais>.alumine>.liblikas2 {
    background-repeat: no-repeat;
    position: absolute;
    width: 63px;
    height: 41px;
    margin-left: 508px;
    margin-top: 320px;
}

.tekst {
    font-size: 21px;
    width: 400px;
}

.fotod {

    margin-left: 63px;
    margin-right: -610px;
    gap: 50px;
}

.tekst-pildid,
.fotod {
    display: inline-flex;
    justify-content: space-between;

}

.part2 {
    margin-left: 78px;
    margin-top: 150px;
}

.part3 {
    background-image: url(pildid/part3-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 62px;
}

.part3>.part3-container>.part3-header {
    padding-top: 82px;
    padding-left: 385px;
    padding-right: 382px;
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
}

.part3>.part3-container>.part3-tekst {
    font-size: 21px;
    text-align: center;
    color: white;
    padding-left: 279px;
    padding-right: 279px;
    padding-bottom: 62px;
    margin: 0;
    padding-top: 20px;
}

.part4>.part4-content {
    display: inline-flex;
}

.part4>.part4-content>.part4-pilt>img {
    width: 540px;
    height: 521px;
    margin-top: 195px;
    margin-left: 60px;
    border-radius: 59% 41% 39% 61% / 61% 54% 46% 39%;
}

.part4-header{
    font-size: 46px;
    font-weight: bold;
    text-align: left;
    margin-top: 268px;
    width: 600px;
    height: 110px;
    margin-left: 105px;
}

.part4-tekst{
    font-size: 21px;
    text-align: left;
    margin-top: 410px;
    width: 601px;
    height: 180px;
    margin-left: -600px;
}

.part4-button{
    background-color: black; 
    color: white; 
    padding: 25px; 
    display: inline-flex; 
    font-weight: bold; 
    margin-top: 35px;
}

footer{
    margin-top: 116px;
    margin-left: 100px;
    background-color: rgb(241, 240, 240);
    width: 1800px;
    height: 276px;
}

footer>div>nav{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding-top: 60px;
}
.footer-parem-pool {
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.67px;
    align-items: center;
}

footer>div>nav>.parem-pool{
    text-decoration: none;
    color: #0B0B0B;
    margin-left: 20px;
    gap: 60px;
    padding-right: 20px;
    margin-right: 48px;
    font-weight: 900;
    font-size: 17px;
}

footer>.footer-contact{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 500;
}

footer>.footer-contact>.contact{
    color: white; 
    background-color: black; 
    font-weight: 900; 
    font-size: 25px; 
    width: fit-content; 
    margin-left: 62px; 
    margin-top: 20px; 
    margin-bottom: 2px; 
    margin-right: 0;
    padding: 5px;
}
